HTML BODY {
  margin-left: 4%;
  margin-right: 2%;
  color: #000 !important;
  background: #fff;
  font-size: 24px;
  font-family: verdana, trebuchet, verdana, arial, helvetica, sans-serif;
}
DIV.slidebody {
  margin: 0;
  height: 275px;
}
SMALL {
  font-size: smaller;
}
.figure { text-align: center }

H1, H2, H3, H4 {
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
}
IMG {
  border: 0;
}
CODE {
  color: #4a5;
  font-weight: bold;
  font-family: "Courier New", courier, monospace;
}
A { font-style: italic }
A:link    { color: #912 }
A:visited { color: #912 }
A:active  { color: red }
A.offsite { color: #291 }

P.author  {
  font-size: 14px;
  font-style: italic;
}

P.fig {
  text-align: center
}

P.top {
  margin-top: 12px;
}

BLOCKQUOTE {
  font-style: italic;
  margin-left: 5%;
  margin-right: 5%;
  color: #224;
}

BLOCKQUOTE SPAN.attribution {
  font-style: normal;
  font-weight: bold;
}

EM {
  color: #000;
}


UL, OL {
  color: #000;
  margin-left: 18px;
}

UL UL { margin-left: 18px }

PRE, TT {
  color: #4a5;
  font-weight: bold;
  font-family: "Courier New", courier, monospace;
}




PRE.extensive, PRE.compact { 
  font-size: 80%;
}


HR {
  margin-top: 3px;
  color: #000;
/*  color: #666; */
}

HR.top {
  margin-bottom: 6px;
}

HR.bottom {
  margin-top: 6px;
}

H1 {
  text-align: center;
  color: #005A98;
  font-size: 29px;
}

H1.slide {
  margin-top: 6px;
  font-weight: bold;
}

H1.slidelist {
  text-align: center;
  font-size: 19px;
}

H2 {
  color: #005A98;
  font-size: 23px;
}

H3 {
  color: #005A98;
  font-size: 19px;
}

H4 {
  color: #000;
  font-size: 17px;
}

H2.cover {
  text-align: center;
  margin-top: 60px;
  margin-left: 30px; margin-right: 30px
}


H3.cover {
  text-align: center;
  margin-top: 42px;
  margin-bottom: 42px;
}

.selector { color: #933 }
.property { color: #339 }
.value { color: #399 }